body {
    font-family: 'Caveat', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-main{
    font-family: 'Courgette', cursive;
}
.mg-1{
    margin: 50px;
}
.ml-1{
    margin-left: 10px;
}
.temp-box{
    width: 80%;
    height: 50px;
    border-right: 2px solid rgb(83, 2, 83);;
    border-bottom-right-radius: 10px;
}
.topic{
    position: absolute;
    padding:0 20px;
    top: -50%;
    transform: translateY(75%);
    left: 15px;
    color:rgb(133, 4, 4);
    background:lightskyblue;
    border: 2px solid 
    border-radius: 30px;

}
.main-container {
    position: relative;
    margin: 0 auto;
    height: auto;
    width: 800px;
}
.main-container .my-name{
    position: absolute;
    padding: 0 10px;
    border: 3px solid lightseagreen;
    border-radius: 50px;
    right: 10px;
    top: 0%;
    background-color: aqua;
    transform: translateY(-50%);
}
.timeline-left-row{
    position: relative;
    width: 80%;
    border-top:2px solid violet;
    border-left:2px solid violet;
    border-bottom:2px solid violet;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.timeline-right-row{
    position: relative;
    width: 80%;
    /* border-top:2px solid violet; */
    border-right:2px solid violet;
    border-bottom:2px solid violet;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.inner-container{
    display: flex;
    margin-top: 50px;
    background-color: rgb(106, 221, 241);
    border: 5px solid lightseagreen;
    border-radius: 10px;
}
.main-left {
    width: 30%;
    /* padding-left: 5px;  */
}
.main-right {
   
    width: 70%;
    background-color: rgb(190, 241, 250);
    /* padding-left: 5px; */
}
ul li{
    font-size: medium;
}
.img-profile img {
    display: block;
    margin: 5px auto;
    padding-bottom: 10px;
    width: 200px;
    border-radius: 100%;
}
.birth-date{
    text-align: center;
    font-size: 20px;
}
.timeline .year{
    float: left;
    width: 20%;
}
.timeline .detail{
    float: left;
    width: 80%;
}
.detial li{
    font-size: 50px;
}

.social{
    display: flex;
    justify-content: center;
}
.social a{
    margin: 0 10px;
    font-size: 30px;
    color: blue;
}